{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Household waste and recycling permits
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Household waste and recycling permits
  </h1>
  <p>
    Household Waste and Recycling Centres are provided for householders to dispose of waste from their own home, safely and conveniently for free.
  </p>
  <p>Unfortunately, some traders use the HWRCs to illegally dispose of their commercial waste, leaving the council-tax paying residents of Northamptonshire to foot the bill for tens of thousands of pounds for its disposal. Consequently, like other councils, Northamptonshire County Council has taken the decision to introduce a simple electronic permit (e-permit) scheme to reduce trade waste abuse.
  </p>
</p>
<h1 class="govuk-heading-m">
    Apply for your free permit
  </h1>
  <a href="10-select-vehicle1" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>
{% endblock %}